.container {
    width: 1200px;
    margin: 0 auto;
}


/* ------------------------------------------------ */
body {
    background-color: #f3f5f7;
}

/* =========================header start====================== */
.header {
    height: 100px;
    background-color: #fff;
}
.header .container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100px;
    /* background-color: rgba(0, 0, 0, .2); */
}
/* -----------------logo----------------------- */
.header .container h1 {
    width: 195px;
    height: 41px;
}
.header .container h1 a {
    display: block;
    width: 195px;
    height: 41px;
    background: url(../images/logo.png);
    font-size: 0;
    
}
/* -----------------logo end----------------------- */

/* -----------------nav 导航----------------- */
.header .container .nav {
    display: flex;
    justify-content: space-between;
    width: 252px; 
    margin-left: 102px;
}
.header .container .nav li {
    padding:0 8px;
    border-bottom: 2px solid transparent;
    line-height: 38px;
}
.header .container .nav li a {
    font-size: 19px;
}
.header .container .nav li:hover{
    border-color: #00a4ff;
}
/* -----------------nav 导航 end----------------- */
/* -----------------------search 搜索框----------------------- */
.header .container .search{
    margin-left: 88px;
}
.header .container .search input {
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border: 0;
    border-radius: 20px;
    padding-left: 19px;
    color: #999;
    font-size: 14px;
    outline-style: none;
}
.header .container .search a {
    /* display: inline-block;
    width: 20px; */
    position: relative;
}
.header .container .search a img{
    position: absolute;
    top: 3px;
    right:18px;
}
/* -----------------------search 搜索框 end----------------------- */
/* ---------------------user 用户信息----------------------- */
.header .container .user {
    width: 116px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
    color: #666;
    font-size: 16px;
}
/* ---------------------user 用户信息 end----------------------- */
/* ====================header end===================== */

/* ==================banner start=================== */
.banner {
    height: 420px;
    background-color: #0092cb;
}
.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    background: url(../uploads/banner.png);
}
/* ---------------------侧边栏------------------------ */
.banner .container .left {
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, .42);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner .container .left li {
    flex: 1;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 20px;
    background: url(../images/right.png) no-repeat 161px center;
}

.banner .container .left li a {
    color: #fff;
    font-size: 16px;
}
.banner .container .left li:hover a{
    color: #00a4ff;
}
.banner .container .left li:hover {
    background-image: url(../images/right-hover.png);
}
/* -----------------------侧边栏 end------------------- */
.banner .container .right {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}
.banner .container .right h2 {
    height: 48px;
    padding: 18px 0 0 14px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.banner .container .right ul {
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 14px;
}
.banner .container .right ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 64px;
    border-bottom: 1px solid #e0e0e0;
}
.banner .container .right ul li h3 {
    font-size: 14px;
}
.banner .container .right ul li p {
    color: #7d7d7d;
    font-size: 12px;
}
.banner .container .right ul li p span {
    color: #00a4ff;
    font-size: 12px;
}
.banner .container .right ul li:nth-child(4) {
    border: 0;
}
.banner .container .right ul li a {
    width: 190px;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 32px;
}

/* =================banner end================== */


.recommend {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    margin-top: 11px;
}
.recommend h3 {
    color:#00a4ff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 20px;
}
.recommend ul {
    display: flex;
    font-size: 18px;
}
.recommend ul li span {
    color: #e0e0e0;
    font-size: 16px;
    margin:0 22px;
}

.recommend .modify {
    color: #00a4ff;
    font-size: 16px;
    margin-left: 93px;
}
/* ==================================== */
.course {
    height: 601px;
    margin-top: 31px;
}
.course .title {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding-top: 5px;
    /* background-color: #209dd5; */
}
.course .title h3 {
    font-size: 21px;
    font-weight: 400;
}
.course .title a {
    color: #999;
    font-size: 14px;
    /* padding-right: 10px; */
}
.course .title a::after {
    content: url(../images/more.png);
    width: 20px;
    padding-left: 10px;
}
.course .content {
    height: 556px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.course .content .item {
    width: 228px;
    height: 271px;
    background-color: #fff;
    line-height: 1;
    /* border: 1px solid #0092cb; */
}
.course .content .item h4 {
    height: 53px;
    margin: 20px 20px 0;
    font-size: 14px;
    font-weight: 400;
}
.course .content .item p {
    margin-left: 20px;
    color: #999;
    font-size: 14px;
}
.course .content .item p span {
    color: #fa6400;
}

/* ============================================= */


.web {
    height: 431px;
    margin-top: 32px;
}

.web .title {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding-top: 2px;
    /* background-color: #209dd5; */
    /* background-color: #0092cb; */
}

.web .title h3 {
    font-size: 21px;
    font-weight: 400;
}
.web .title ul {
    display: flex;
    justify-content: space-between;
    width: 308px;
    
}
.web .title .active {
    color: #00a4ff;
}
.web .title .all {
    color: #999;
    font-size: 14px;
    /* padding-right: 10px; */
}

.web .title .all::after {
    content: url(../images/more.png);
    width: 20px;
    padding-left: 10px;
}

.web .content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 386px;
    /* margin-top: 15px; */
}
.web .content .left {
    width: 228px;
}
.web .content .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: space-between; */
    width: 957px;
}
.web .content .right .top {
    width: 957px;
    height: 100px;
    background: url(../uploads/web_top.png);
}
.web .content .right .bottom {
    display: flex;
    justify-content: space-between;
    /* align-content: space-between; */
    height: 271px;
}
.web .content .item {
    width: 228px;
    height: 271px;
    background-color: #fff;
    line-height: 1;
    /* border: 1px solid #0092cb; */
}

.web .content .right .bottom .item h4 {
    height: 53px;
    margin: 20px 20px 0;
    font-size: 14px;
    font-weight: 400;
}

.web .content .item p {
    margin-left: 20px;
    color: #999;
    font-size: 14px;
}

.web .content .item p span {
    color: #fa6400;
}



/* ===================================== */


.footer {
    height: 273px;
    background-color: #ffffff;
    margin-top: 60px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    height: 273px;
    padding-top: 60px;
 }
.footer .container .left {
    width: 432px;
    /* background-color: #00a4ff; */
 }
.footer .container .left img {
    margin-bottom: 24px;
  }
.footer .container .left p {
    color: #666;
    font-size: 12px;
}
.footer .container .left a {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    margin-top: 14px;
    color: #00a4ff;
    font-size: 16px;
    text-align: center;
    line-height: 34px;

}
.footer .container .right {
    display: flex;
    justify-content: space-between;
    width: 516px;
    /* background-color: #fa6400; */
 }
 .footer .container .right dl dt {
    height: 35px;
    font-size: 16px;
 }
  .footer .container .right dl dd a{
    height: 24px;
    color: #666;
  }