/* 版心------------------------ */
.container {
  width: 1240px;
  margin: 0 auto;
}

/* xtx-shortcut模块的样式------------- */
.xtx-shortcut {
  height: 52px;
  background-color: #333;
}

.xtx-shortcut .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  font-size: 14px;
}

.xtx-shortcut .container a {
  color: #fff;
}

.xtx-shortcut .container a:hover {
  color: #5EB69C;
}

.xtx-shortcut .container span {
  margin: 0 15px;
  color: #999;
}

.xtx-shortcut .container i {
  position: relative;
  top: 2px;
  margin-right: 4px;
  font-size: 18px;
}

/* xtx-main-nav模块的样式------------------- */
.xtx-main-nav {
  display: flex;
  align-items: center;
  height: 132px;
}

.xtx-main-nav .logo a {
  display: block;
  width: 200px;
  height: 88px;
  background: url('../images/logo.png');
  font-size: 0;
}

.xtx-main-nav .nav {
  display: flex;
  justify-content: space-between;
  width: 673px;
  margin-left: 41px;
}

.xtx-main-nav .nav a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #5EB69C;
  color: #5EB69C;
}

.xtx-main-nav .search {
  position: relative;
  width: 170px;
  height: 44px;
  margin-left: 75px;
}

.xtx-main-nav .search span {
  position: absolute;
  left: 0;
  top:7px;
  font-size: 18px;
  color: #ccc;
}

.xtx-main-nav .search input {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #F4F4F4;
  /* 103-75 */
  padding-left: 28px;
}

.xtx-main-nav .search input::placeholder {
  color: #ccc;
  font-size: 16px;
}

.xtx-main-nav .cart {
  position: relative;
  margin-left: 45px;
}

.xtx-main-nav .cart span {
  font-size: 28px;
}

.xtx-main-nav .cart i {
  position: absolute;
  right: -7px;
  top: 2px;
  width: 20px;
  height: 15px;
  background-color: #E26237;
  border-radius: 8px;
  text-align: center;
  line-height: 15px;
  font-size: 14px;
  color: #fff;
}

/* footer的样式----------------------------- */
footer {
  background-color: #F5F5F5;
}

.xtx-serve {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 179px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 28px;
}

.xtx-serve li {
  display: flex;
  align-items: center;
}

.xtx-serve li div {
  width: 58px;
  height: 58px;
  background: url('../images/sprite.png') 0 0;
  margin-right: 20px;
}

.xtx-serve li:nth-child(2) div {
  background-position: 0 -58px;
}

.xtx-serve li:nth-child(3) div {
  background-position: 0 -116px;
}

.xtx-serve li:nth-child(4) div {
  background-position: 0 -174px;
}

.xtx-guide {
  display: flex;
  justify-content: space-between;
  height: 303px;
  padding-top: 60px;
}

.xtx-guide .links {
  display: flex;
  justify-content: space-between;
  /* 560 + 64 + 237 */
  width: 861px;
}

.xtx-guide .links dt {
  margin-bottom: 25px;
  font-size: 18px;
}

.xtx-guide .links dd {
  margin-bottom: 8px;
}

.xtx-guide .links dd a {
  color: #969696;
}

.xtx-guide .code {
  display: flex;
  justify-content: space-between;
  /* 55+120+120 */
  width: 295px;
}

.xtx-guide .code img {
  width: 120px;
  height: 120px;
}

.xtx-guide .code p {
  margin-top: 8px;
  color: #969696;
  text-align: center;
}

.xtx-copyright {
  height: 100px;
  text-align: center;
  color: #A1A1A1;
}

.xtx-copyright span {
  margin: 0 3px;
}

.xtx-copyright a {
  color: #A1A1A1;
}

.xtx-copyright p:nth-child(1) {
  margin-bottom: 6px;
}