/* 版心------------------------ */
.container {
  width: 1240px;
  margin: 0 auto;
}

/* xtx-shortcut模块的样式------------- */
.xtx-shortcut {
  height: 52px;
  background-color: #333;
}

.xtx-shortcut .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  font-size: 14px;
}

.xtx-shortcut .container a {
  color: #fff;
}

.xtx-shortcut .container a:hover {
  color: #5EB69C;
}

.xtx-shortcut .container span {
  margin: 0 15px;
  color: #999;
}

.xtx-shortcut .container i {
  position: relative;
  top: 2px;
  margin-right: 4px;
  font-size: 18px;
}

/* xtx-main-nav模块的样式------------------- */
.xtx-main-nav {
  display: flex;
  align-items: center;
  height: 132px;
  background-color: pink;
}

.xtx-main-nav .logo a {
  display: block;
  width: 200px;
  height: 88px;
  background: url('../images/logo.png');
  font-size: 0;
}