/* header的样式------------------------------ */
.header {
  height: 40px;
  background-color: #2b303b;
}

.header .container {
  height: 40px;
  /* background-color: pink; */
}

.header .container img {
  margin-top: 10px;
}

.header .container ul li {
  float: left;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
}

.header .container ul li a {
  padding: 0 9px;
  color: #fff;
}

/* banner的样式--------------------------- */
.banner {
  height: 480px;
  background-color: #181c28;
}

.banner .container {
  height: 480px;
  background: url('../images/banner.png');
}

.banner ul {
  width: 250px;
  height: 480px;
  background-color: #1b2a3f;
  padding-top: 40px;
}

.banner ul li {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

.banner ul li:hover {
  background-color: orange;
}

.banner ul li a {
  color: #fff;
}

.banner ul li::after {
  content: '>';
  float: right;
  color: #fff;
  font-family: 楷体;
}

/* main的样式------------------------ */
.main {
  height: 740px;
  /* background-color: pink; */
  padding-top: 44px;
}

.main h2 {
  height: 49px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.main .study {
  height: 47px;
  text-align: center;
}

.main .box {
  height: 462px;
  border: 1px solid #ccc;
  padding: 40px 50px 0;
  border-radius: 8px;
}

.main .box .left {
  float: left;
  width: 450px;
  height: 300px;
}

.main .box .left h3 {
  width: 110px;
  height: 41px;
  border-bottom: 1px solid #ccc;
  font-size: 26px;
  font-weight: 400;
}

.main .box .left p {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  line-height: 30px;
}

.main .box .left .begin {
  display: block;
  width: 164px;
  height: 49px;
  border: 2px solid #ffa500;
  margin-top: 20px;
  color: #000;
  text-align: center;
  line-height: 45px;
}

.main .box .left .begin:hover  {
  background-color: orange;
  color: #fff;
}

.main .box .right {
  float: right;
  width: 580px;
  height: 348px;
}

.main .box .right img {
  width: 100%;
}

/* footer模块的样式------------------------ */
.footer {
  height: 400px;
  background-color: #2e3033;
}

.footer .container {
  height: 400px;
  padding-top: 32px;
}

.footer dl {
  float: left;
  width: 198px;
}

.footer dl dt {
  height: 28px;
  color: #fff;
  font-size: 14px;
}

.footer dl dd {
  height: 20px;
  font-size: 12px;
  color: #ccc;
}

.footer .buy {
  float: right;
  width: 190px;
  height: 150px;
}

.footer .buy p {
  font-size: 12px;
  color: #ccc;
  line-height: 20px;
}

.footer .buy a {
  display: block;
  height: 35px;
  background-color: #00a4ff;
  margin-top: 20px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
}